@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Signika:wght@500&display=swap');

@media screen and (max-width: 768px) and (min-width: 300px){
    .respomhfhfh{
        height: 165vh;
    }
}


*{
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    margin: 0px 0px;
    padding: 0 0;
 
}
/* header div div{
    display: flex;
    justify-content: center;
    align-items: center;

} */
nav{
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
nav div li{
    list-style: none;
    padding: 0px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 14px;
    
}
nav div li a{
    text-decoration: none;
    color: black;

}
nav div li a:hover{
    
    color: green;

}



/* header div{
top: 10px;

} */
header div  ul{
    /* margin-top: 10px; */
    height: 70px;
}

.banerHover{
 width: 500px;
 transition: all 0.3s linear;
 
 background: rgba(0,0,0,0.5); 
 width: 570px;
 box-shadow: 12px 12px 2px 1px rgba(249, 251, 252, 0.2);

}


/* .banerHover:hover{

    background: rgba(0,0,0,0.5); 
    width: 570px;
    box-shadow: 12px 12px 2px 1px rgba(249, 251, 252, 0.2);
    border: 1px solid white;
} */
.socialIcon{
    height: 20px;
    padding: 0px 7px;
}
.bannerimg{
    background: url(./peakpx.jpg) ;
    height: 600px;
    background: url(./peakpx.jpg);
    background-position-x: center;
    height: 575px;
}
/* .button { */
    /* background-color: #4CAF50; Green
    border: none;
    border-radius: 15px;
    color: white;
    padding: 15px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer; */
  /* } */

  .button {
    width: auto;;
    transition: all .5s ease;
    color: white;
    border: 3px solid white;
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color : transparent;
    padding: 10px;
    outline: none;
    border-radius: 4px;
}
.button:hover {
    color: #001F3F;
    background-color: #fff;
}




  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }

  .buttona {
    width: auto;;
    transition: all .5s ease;
    color: #068399;
    border: 2px solid rgb(24, 113, 143);
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color : transparent;
    padding: 10px;
    outline: none;
    border-radius: 4px;

}

.buttona:hover {
    background-color: #008CBA;
    color: white;
  }
    a:hover{
        color:inherit;
    }
    .buttonshadow {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
      }
      .buttonshadow2:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
      }

      .testimonialbg{
        background: url(./wallpaperflare.com_wallpaper\ \(1\).jpg);
        background-repeat: no-repeat;
        background-position: center;
        
      }
      .cardTestimonials {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        background-color: transparent;
        color: white;
        border-radius:10px;
        padding: 10px 10px;
      }
      
      /* On mouse-over, add a deeper shadow */
      .cardTestimonials:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        background-color: white;
        color: black;
        
      }
      
      /* Add some padding inside the card container */
      .container {
        padding: 2px 16px;
      }






  figure {
  display: grid;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  margin: auto;
}
figure > * {
  grid-area: 1/1;
  transition: .4s;
}
figure figcaption {
  display: grid;
  align-items: end;
  font-family: sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
  color: #0000;
  padding: .75rem;
  background: var(--c,#0009);
  clip-path: inset(0 var(--_i,100%) 0 0);
  -webkit-mask:
    linear-gradient(#000 0 0),
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  -webkit-mask-clip: text, padding-box;
  margin: -1px;
}
figure:hover figcaption{
  --_i: 0%;
}
figure:hover img {
  transform: scale(1.2);
}
@supports not (-webkit-mask-clip: text) {
  figure figcaption {
   -webkit-mask: none;
   color: #fff;
  }
}

#vofgfgd {
  margin-top: 2rem;
  padding: 2rem;
  display: flex;
  grid-auto-flow: column;
  place-content: center;
  background: #425a52;
}



/* color full cards */

.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}


body {
  /* background-color: #000; */
}
.ag-courses_box {
  /* display: -webkit-box;
  display: -ms-flexbox; */
  display: flex;
  /* -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; */

  /* padding: 50px 0; */
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;
}
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
 
  text-decoration: none;
  overflow: hidden;

  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #FFF;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 28px;
  color: black;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date-box {
  font-size: 18px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;

  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}



@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}

.IconImges{
  height: 50px;
}
.WhychooseUsCards{
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

}

.WhychooseUsCards:hover{
  background-color: rgba(0,0,0,0.5) !important;

}

.contactIcons{
height: 30px;

}

.footerLinks{
    text-decoration: none; color: white;
    
  }
.footerLinks:hover{
  color: rgb(108 110 142);

}
.footerLst {
  list-style: none;
}

@media only screen and (max-width:769px )  {
  .NavDivs{
    display: flex;
    justify-content: center !important; 

  }
  
}
/* 
@media only screen and  (max-width:991px ) {
  .NavDivs{
    display: flex;
    justify-content: center;

  }
  
}

 */
 .footerbannerimg{
  background: url(./portrait-woman-customer-service-worker.jpg);
    background-position-x: 61px;
    background-size: 1781px;
    background-position-y: -20px;
    background-repeat: no-repeat;
}


.NavBookBtn:hover{
  border-bottom: 2px solid blueviolet;
  background-color: white !important;


}
.NavBookBtnText:hover{
  color: black;
}
.servicesRowww{
  width: 1300px;
   transition: all 0.3s linear;
}
.servicesRowww:hover{
  width: 1400px;
}
.viewmorebtn:hover{
  background-color: #001F3F;
  color: white;

}
.viewmorebtn{
  color: black ;
}

.videogallerybg{
  background: url(./medical-science-healthcare-blue-banner/23667.jpg);
  background-position-x: center;
  background-repeat: no-repeat;
  
}